body {
	background-color: #C390D4;
	font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
	font-size: 20px;
	width: 100%;
	padding: 10px;
}

.FormviewerHeaderTitle {
	margin-bottom: 35px;
	font-size: 40px;
}

.ViewHeaderDescription {
	font-size: 14px;
}

#topbody {
	background-color: #fff;
        height: 100%;
        width: 100%;
        border: 1px solid #DFDFDF;
	padding: 20px;
}

#footer {
        height: 100px;
        width: 90%;
}
input.text {
	width: 400px;
	flex-grow: 1;
	flex-shrink: 1;
	background-color: transparent;
	border: none;
    	border-bottom: 1px solid #f1adbc;
	display: block;
	font: 400 16px Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
	height: 24px;
	line-height: 24px;
	margin: 0;
	min-width: 0%;
	outline: none;
	padding: 0;
	z-index: 0;
}
select {
	width: 400px;
}
